body{
  background: #9b9595;
  font-family: Arial, Helvetica, sans-serif;
}

img{
  max-width: 100%;
  display: block;
}

h1, h2, h3, p {
  margin: 0;
}

p{
  font-size: 20px;
}

h2{
  font-size: 64px;
  text-align: right;
  color: #c6c6c6;
  padding: 30px;
  align-self: center;
}

#logo{
  margin: 0 auto;
}

.menu a{
  background: white;
  text-decoration: none;
  padding: 7px 12px;
  color: black;
  border-radius: 4px;
}

.menu{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.principal{
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.descrição{
  background: white;
  display: grid;
  align-content: center;
  gap: 15px;
  justify-items: right;
  padding: 30px;
  position: relative;
}

.descrição a{
  background: #ee2211;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.descrição p{
  text-align: right;
}

.vantagens{
  background: white;
  padding: 30px;
display: grid;
gap: 15px;
}

.vantagens-item{
  display: grid;
  gap: 5px 15px;
  grid-template-columns: auto 1fr;
}

.vantagens-item p{
  grid-column: 2;
}

.rodape{
  background: white;
  padding: 40px;
  text-align: center;
}

#detalhe{
  background: red;
  width: 60px;
  height: 10px;
  position: absolute;
  right: -30px;
  top: 20px;
}
